@model IEnumerable<Roulette.ASP.NETCore.Models.SingleNumberBetModel>
<h2>Current Bets:</h2>

<div class="row">

    @{
        foreach (var bet in Model)
        {
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => bet.Stake)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => bet.Number)
                </dd>
            </dl>
        };
    }
</div>