@model IEnumerable<Roulette.ASP.NETCore.Models.SingleNumberBetModel>

<link rel="stylesheet" runat="server" href="~/css/BetList.css"/>

<h1>Current bets:</h1>
<div class="row">

    @{
        if (Model.Count() != 0)
        {
            foreach (var bet in Model)
            {
                <dl class="row">
                    <dt class="value-display">
                        @Html.DisplayNameFor(model => bet.Stake)
                    </dt>
                    <dd class="value-display">
                        <div id="stake" class="value-display">
                            @Html.DisplayFor(model => bet.Stake)
                        </div>
                    </dd>
                    <dt class="value-display">
                        @Html.DisplayNameFor(model => bet.Number)
                    </dt>
                    <dd class="value-display">
                        <div id="number" class="value-display">
                            @Html.DisplayFor(model => bet.Number)
                        </div>
                    </dd>
                </dl>
            };
        }
        else
        {
            <p>No bets are placed!</p>
        }

    }
</div>
