@model IEnumerable<Roulette.ASP.NETCore.Models.SingleNumberBetModel>

<link rel="stylesheet" runat="server" href="~/css/BetList.css"/>

<h1>Current bets:</h1>
<div class="row">

    @{
        foreach (var bet in Model)
        {
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => bet.Stake)                  
                </dt>
                <dd class="col-sm-2">
                    <div id="stake">
                        @Html.DisplayFor(model => bet.Stake)
                    </div>
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => bet.Number)
                </dt>
                <dd class="col-sm-10">
                     <div id="number">
                        @Html.DisplayFor(model => bet.Number)
                    </div>                    
                </dd>
            </dl>
        };
    }
</div>
