@model Roulette.ASP.NET.Models.NeighboursBetModel

@{
    ViewData["Title"] = "PlaceNeighboursBet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" runat="server" href="~/css/placebet.css" />


<h2>Place Neighbours Bet</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PlaceNeighboursBet">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Stake" class="control-label"></label>
                <input asp-for="Stake" class="form-control" />
                <span asp-validation-for="Stake" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstNumber" class="control-label"></label>
                <input asp-for="FirstNumber" class="form-control" />
                <span asp-validation-for="FirstNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondNumber" class="control-label"></label>
                <input asp-for="SecondNumber" class="form-control" />
                <span asp-validation-for="SecondNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
