@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" runat="server" href="~/css/roulette-wheel.css" />
<link rel="stylesheet" runat="server" href="~/css/room.css" />

@section Scripts {


    <script>
        var data = {};
        data.Name = "Nick";
        data.Age = 20;

        var testModel = { Name: 'Nick', Age: 10 };
        $("#showBets").click(function () {

            //console.log("data: " + data);
            //postBet(testModel);
            GetPartial();
        });

        function postBet(betModel) {

            $.ajax({
                type: 'POST',
                url: '/Bet/Create',
                data: JSON.stringify(betModel)

                //contentType: 'application/json',
                //dataType: 'json',

            }).done(function (response) {
                console.log(response);
            }).fail(function (response) {
                console.log('Error: ' + response);
            });
        }


        function GetPartial() {

            $.ajax({        // Do this asynchronously
                type: 'GET',                    // GET-method, so data is passed through URL
                url: '/Bet/GetBetList',   // This is the URL we're calling, should match routing scheme
                success: function (result) {    // On-success use this anonymous function
                    $('#result').html(result);  // Display the result in the #result-element on the page.
                }
            });
        }

    </script>

    <script>

        function getBalance() {
            var balance = localStorage.getItem("balanceValue");
            console.log("This is the balance: " + balance);
            $('#balance').html('Your balance: €' + balance);
        }

        function updateBalance(amount) {
            var balance = parseFloat($('#balance').text().split('€')[1]);
            var updatedbalance = parseFloat(balance + amount);
            localStorage.setItem("balanceValue", updatedbalance);
            console.log(balance);
            $('#balance').html('Your balance: €' + updatedbalance);
        }


        function checkNumber() {
            $(document).ready(() => {

                if ($('#colorbet').length > 0) {
                    var resultColor = $('#result-color').html();
                    console.log(resultColor);

                    var betColor = $('#color').html().trim();
                    console.log(betColor.toLowerCase());
                    var stake = $('#stakecolor').html();

                    if (resultColor == betColor.toLowerCase()) {
                        alert("You win! Your bet: " + betColor);
                        
                        updateBalance(stake * 2);
                    }
                    else {
                        alert("You lost, try again! Your bet: " + betColor);
                        updateBalance(-stake);
                    }
                }
                if ($('#singlenumberbet').length > 0) {
                    var resultNumber = $('#result-number').html();
                    console.log(resultNumber);

                    var betnumber = $("#number").html();
                    console.log(betnumber);
                    var stake = $('#stakesingle').html();

                    if (resultNumber == betnumber) {
                        alert("You win! Your bet: " + betnumber);
                        updateBalance(stake * 36);
                    }
                    else {
                        alert("You lost, try again! Your bet: " + betnumber);
                        updateBalance(-stake);
                    }
                }
                if ($('#evenunevenbets').length > 0) {
                    var resultNumber = $('#result-number').html();
                    console.log(resultNumber);

                    var betiseven = $('#iseven').val();
                    console.log(betiseven);
                    var stake = $('#stakeeven').html();

                    if ($('#iseven').html().indexOf('checked') != -1 && betiseven % 2 == 0) {
                        alert("You win! Your bet: Even");
                        updateBalance(stake * 2);
                    }
                    else if ($('#iseven').html().indexOf('disabled') != -1 && betiseven % 2 != 0) {
                        alert("You win! Your bet: UnEven");
                        updateBalance(stake * 2);
                    }
                    else {
                        alert("You lost, try again!");
                        updateBalance(-stake);
                    }
                }
                if ($('#neighbourbets').length > 0) {
                    var resultNumber = $('#result-number').html();
                    console.log(resultNumber);

                    var firstbetnumber = $('#firstnumber').html();
                    var secondnumber = $('#secondnumber').html();
                    var stake = $('#stakeneighbours').html();

                    if (firstbetnumber == resultNumber || secondnumber == resultNumber) {
                        alert("You win! Your bet: First number: " + firstbetnumber + " Second number: " + secondnumber);
                        updateBalance(stake * 2);
                    }
                    else {
                        alert("You lost, try again! Your bet: First number: " + firstbetnumber + " Second number: " + secondnumber);
                        updateBalance(-stake);
                    }
                }

                ClearBetList();
            });
        }

        function ClearBetList() {

            $.ajax({        
                type: 'GET',                   
                url: '/Bet/ClearBetList',
                success: function (result) {    
                    alert('A new round has begun! Place your bets!'); 
                }
            });
        }



    </script>
}

<body onload="getBalance()">
    <div id="container">

        <div class="main">
            <button type="button" class="btn" id="spin"><span class="btn-label">Spin</span></button>
            <button type="button" class="btn btn-reset" id="reset"><span class="btn-label">New Game</span></button>
            <div class="plate" id="plate">
                <ul class="inner">
                    <li class="number"><label><input type="radio" name="pit" value="32" /><span class="pit">32</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="15" /><span class="pit">15</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="19" /><span class="pit">19</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="4" /><span class="pit">4</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="21" /><span class="pit">21</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="2" /><span class="pit">2</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="25" /><span class="pit">25</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="17" /><span class="pit">17</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="34" /><span class="pit">34</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="6" /><span class="pit">6</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="27" /><span class="pit">27</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="13" /><span class="pit">13</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="36" /><span class="pit">36</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="11" /><span class="pit">11</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="30" /><span class="pit">30</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="8" /><span class="pit">8</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="23" /><span class="pit">23</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="10" /><span class="pit">10</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="5" /><span class="pit">5</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="24" /><span class="pit">24</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="16" /><span class="pit">16</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="33" /><span class="pit">33</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="1" /><span class="pit">1</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="20" /><span class="pit">20</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="14" /><span class="pit">14</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="31" /><span class="pit">31</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="9" /><span class="pit">9</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="22" /><span class="pit">22</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="18" /><span class="pit">18</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="29" /><span class="pit">29</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="7" /><span class="pit">7</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="28" /><span class="pit">28</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="12" /><span class="pit">12</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="35" /><span class="pit">35</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="3" /><span class="pit">3</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="26" /><span class="pit">26</span></label></li>
                    <li class="number"><label><input type="radio" name="pit" value="0" /><span class="pit">0</span></label></li>
                </ul>
                <div class="data">
                    <div class="data-inner">
                        <div class="mask"></div>
                        <div class="result">
                            <div id="result-number" class="result-number">00</div>
                            <div id="result-color" class="result-color">red</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="previous-results">
                <ol class="previous-list">
                    <li class='visuallyhidden placeholder'>No results yet.</li>
                </ol>
            </div>
        </div>

        <div id="countdown" class="countdown-timer"></div>
        <h4 id="balance">Your balance: €200,00</h4>

        <div id="createBet">
            <input class="btn" type="button" value="Single number bet" id="createSingleNumberBet" onclick="location.href='@Url.Action("PlaceBet", "Bet")'" />
            <input class="btn" type="button" value="Color bet" id="createColorBet" onclick="location.href='@Url.Action("PlaceColorBet", "Bet")'" />
            <input class="btn" type="button" value="Neighbours bet" id="createNeighboursBet" onclick="location.href='@Url.Action("PlaceNeighboursBet", "Bet")'" />
            <input class="btn" type="button" value="Even or Uneven bet" id="createEvenUnevenBet" onclick="location.href='@Url.Action("PlaceEvenUnevenBet", "Bet")'" />

            
            <hr />

            <button id="showBets" class="btn">Show Current Bets</button>
            <button class="btn" onclick="checkNumber()">Receive payout</button>
        </div>

        <span id="result"></span>

    </div>
    <script runat="server" type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script runat="server" type="text/javascript" src="~/js/roulette-wheel.js"></script>
    @*<script runat="server" type="text/javascript" src="~/js/countdown.js"></script>*@
    <script runat="server" type="text/javascript" src="~/js/room.js"></script>

</body>
