@{
    ViewData["Title"] = "About";
}

<link rel="stylesheet" runat="server" href="~/css/placebet.css" />

<h1 style="color:white">About Roulette to the Max!</h1>

<pre>
Indulge yourself in the world of roulette! On this website you'll find all kind of roulette games. 
Have fun and bet responsibly!

</pre>
