<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DemoDB"
         connectionString="Server=studmysql01.fhict.local;Uid=dbi409398;Database=dbi409398;Pwd=nH1qazDemoDB;"
         providerName="Syste.Data.MySQLClient"/>
  </connectionStrings>  
</configuration>