@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@model BetViewModel


<form asp-controller="Home" asp-action="About" method="post">
    <p>Amount: </p>
    <input asp-for="Amount">
    <p>Number: </p>
    <input asp-for="Number">

    <input type="submit" value="Place bet"/>
</form>



