@{
    ViewData["Title"] = "Privacy Policy";
}
<<<<<<< HEAD
<h1>@ViewData["Title"]</h1>
=======
<h2>@ViewData["Title"]</h2>
>>>>>>> asp.net

<p>Use this page to detail your site's privacy policy.</p>
